<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>SecureMyNavigation</title>
  <meta content="Sécurisez votre navigation sur internet" name="description">

  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>

  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" style="padding-top: 10%; padding-bottom: 10%;">

        <h1>{{ source }}</h1>
        <h2>Attention ! Site malvaillant bloqué</h2>
        <div class="d-flex justify-content-center" style="text-align: center;">
          Vous avez tenté d'accéder à une plateforme suspecté de procéder au vol de données.
          <br/>
          Nous l'avons bloqué pour votre sécurité.
        </div>

    </div>
  </header>

  <main id="main">  
  </main>

  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>QuickDo</span></strong>. Tous droits réservés
      </div>
    </div>
  </footer>

  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>